# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project specific
output/
pretrain_weights/
wandb/
*.pt
*.pth
*.log

# System
.DS_Store
